<div style="display:contents;">
<MudDialog ContentClass="pa-0" Style="height: 78vh; width: 100%">
    <DialogContent>
        <MudStack StretchItems="StretchItems.All" Row="true" Spacing="0">
            <MudPaper Elevation="0">
                <MudStack Row="true" Class="height-7 width-full border-b border-color-default">
                    a
                </MudStack>
                <MudStack>
                    <p>editor</p>
                </MudStack>
            </MudPaper>
            <MudPaper Elevation="0">
                <MudText Typo="Typo.subtitle2">Comments:</MudText>
                <MudStack>
                </MudStack>
            </MudPaper>
        </MudStack>
    </DialogContent>
</MudDialog>
</div>

@code {

}
