@page "/projects/{projectId:guid}"



@if(Project == null)
{
    <p>Project not found</p>
    return;
}

<AuthorizeResource ResourceName="project" Policy="@(nameof(Permission.ProjectRead))" Resource="@ProjectId" DisplayError="true">
    <h3>Project</h3>
</AuthorizeResource>
