.project-background {
    position: fixed;
    top: 67px;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

/*::deep .project-navigation {
    background-color: rgba(40, 40, 40, 0.42);
    border-radius: 2px;
    padding: 8px;
}

::deep .project-header button {
    opacity: 0;
    transition: opacity 0.4s;
    pointer-events: none;
}

::deep .project-header:hover button {
    display: block;
    opacity: 1;
    pointer-events: auto;
}*/

::deep .lane-row {
    background-color: var(--mud-palette-background-gray);
    border-radius: 8px;
    width: 272px;
    height: fit-content;
    max-height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

::deep .board-container {
    height: calc(100dvh - 80px);
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    /*margin-top: 22px;*/
}

::deep .board {
    display: flex;
    height: 100%;
    width: max-content;
    overflow-x: visible;
}
