<div class="footer">
    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="1">
        <MudStack Row="true">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" aria-label="github" Href="https://github.com/space-wizards/SS14.Jetfish" Target="_blank"/>
        </MudStack>
        <MudText Style="font-size:small" Class="ma-2" Align="Align.Center">No neurons were stolen in the making of this app</MudText>
    </MudStack>
</div>