::deep .fixed-column-action {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep .fixed-column-policies {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep .fixed-column-scroll {
    max-width: 300px;
    overflow-x: auto;
    white-space: nowrap;
}

::deep .permissions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}