@page "/teams/{teamId:guid}/roles"

<SectionContent SectionName="page-title">Team Roles</SectionContent>
<BackButton Href="@($"/teams/{TeamId}")"/>
@if(Team == null)
{
    <p>Team not found</p>
    return;
}
<AuthorizeResource DisplayError="true" ResourceName="team roles page" Policy="@(nameof(Permission.TeamEdit))" Resource="@TeamId">
    <RoleDataGrid TeamId="TeamId"></RoleDataGrid>
</AuthorizeResource>