::deep .project-card {
    width: 300px;
    height: 180px;
    border-radius: 5px;
    transition: transform .2s ease;
    cursor: pointer;
    overflow: hidden;
    color: #282828;
}

::deep .project-card:hover {
    transform: translateY(-5px);
}
