<div style="display:contents">
    <ProjectCardTemplate Style="background: lightgray">
        <MudStack AlignItems="AlignItems.Center">
            <MudIcon Icon="@Icons.Material.Filled.ControlPoint" Color="Color.Info" Size="Size.Large"/>
            <p>Add Project</p>
        </MudStack>
    </ProjectCardTemplate>
</div>