<div style="display:contents">
    <ProjectCardTemplate Style="@GetBackground()">
        <div class="card-content">
            <MudText>@Project.Name</MudText>
        </div>
    </ProjectCardTemplate>
</div>