@using SS14.Jetfish.FileHosting.Model
@using SS14.Jetfish.Projects.Model

<div style="display:contents">
    <ProjectCardTemplate Style="@GetBackground()" OnClick="RedirectToProject">
        @if (Project.BackgroundSpecifier == ProjectBackgroundSpecifier.Image)
        {
            <ContentImage Fluid="true" Style="width: 100%;" Type="FileType.Project" ProjectId="@Project.Id" FileId="@(Guid.Parse(Project.Background))"></ContentImage>
        }
        <div class="project-card-content">
            <MudText Typo="Typo.body1">@Project.Name</MudText>
        </div>
    </ProjectCardTemplate>
</div>
