@using SS14.Jetfish.Projects.Model
@using SS14.Jetfish.Components.Shared.Forms

<div style="display:contents">
    <MudDialog Style="min-height: 330px; min-width: 308px">
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
                @MudDialog.Title
            </MudText>
            @if (_displayProgressbar)
            {
                <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
            }
        </TitleContent>
        <DialogContent>
            <ProjectForm @ref="_form" Model="_model"/>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton Color="Color.Success" OnClick="Save">Save</MudButton>
        </DialogActions>
    </MudDialog>
</div>
